/* ----------------- Reset styles --------------------- */
a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

/* ------------------------------------------------------- */

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 120px 0;
}

/* ----------------------- HEADER ------------------------*/

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: center;
}

.logo-link {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 76px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.part-logo {
  color: #2e2f42;
}

.header-list {
  display: flex;
}

.header-item {
  margin-right: 40px;
}

.header-item:last-child {
  margin-right: 0;
}

.header-link {
  position: relative;
  display: block;
  padding: 24px 0;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus {
  color: #404bbf;
}

.link-studio {
  color: #404bbf;
}

.link-studio::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #404bbf;
  display: block;
}

.contact {
  font-style: normal;
  padding-left: 332px;
}

.contact-list {
  display: flex;
}

.contact-item {
  margin-right: 40px;
}

.contact-item:last-child {
  margin-right: 0;
}

.contact-link {
  display: block;
  padding: 24px 0;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

/* -------------------- HERO -----------------------*/

.section-hero {
  max-width: 1440px;
  margin: 0 auto;
  padding: 188px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/section1/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  max-width: 496px;
  margin: 0 auto;
  font-size: 56px;
  line-height: 1.07;
  color: #ffffff;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
}

.hero-button {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* -------------------- DESC --------------------- */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.desc-list {
  display: flex;
  gap: 24px;
}

.desc-item {
  max-width: 264px;
}

.box-desc {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  margin-bottom: 8px;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background: #f4f4fd;
}

.desc-subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  letter-spacing: 0.02em;
}

.desc-text {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ------------------- TEAM --------------------- */

.section-team {
  background-color: #f4f4fd;
}

.team-title {
  margin-bottom: 72px;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-content {
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  text-align: center;
  letter-spacing: 0.02em;
}

.team-text {
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.02em;
}

.socials-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.socials-item {
  width: 40px;
  height: 40px;
}

.icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus {
  background-color: #404bbf;
}

.socials-icon {
  fill: #f4f4fd;
}

/* ------------------- PORTFOLIO -----------------*/

.portfolio-title {
  margin-bottom: 72px;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  gap: 48px 24px;
}

.portfolio-item:hover {
  cursor: pointer;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover p {
  transform: translateY(0%);
}

.overlay-porfolio {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  padding: 40px 32px;
  color: #f4f4fd;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  background-color: #4d5ae5;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  letter-spacing: 0.02em;
}

.portfolio-text {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* --------------------- FOOTER ------------------ */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.container-footer {
  display: flex;
  align-items: baseline;
}

.footer-box-text {
  margin-right: 120px;
}

.footer-link {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
}

.footer-logo {
  color: #f4f4fd;
}

.footer-text {
  max-width: 264px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-subtitle {
  margin-bottom: 16px;
  color: #fff;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

.footer-socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.footer-socials-item {
  width: 40px;
  height: 40px;
}

.footer-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition-property: background-color;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: #31d0aa;
}

.footer-box-form {
  margin-left: 80px;
}

.footer-form-text {
  color: #fff;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-form {
  display: flex;
  gap: 24px;
}

.footer-form-input {
  padding-left: 16px;
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #fff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;

  color: #fff;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.footer-form-input::placeholder {
  color: #fff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.footer-form-bnt {
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
}

.icon-send {
  margin-left: 16px;
  fill: #ffffff;
}

.footer-form-bnt:hover,
.footer-form-bnt:focus {
  cursor: pointer;
  background-color: #404bbf;
}

/*=========================== MODAL ===========================*/

.backdrop {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.modal {
  padding: 72px 24px 24px 24px;
  position: absolute;
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #e7e9fc;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-title {
  margin-bottom: 16px;
  color: #2e2f42;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.modal-form {
}

.label-wrap {
  position: relative;
  margin-bottom: 8px;
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  outline: transparent;
}

.modal-input:hover,
.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover + .modal-icon,
.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.comment-wrap {
  margin-bottom: 16px;
}

.modal-comment {
  width: 100%;
  height: 120px;
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  resize: none;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.16; /* 116.667% */
  letter-spacing: 0.04em;
}

.modal-comment:hover,
.modal-comment:focus {
  border-color: #4d5ae5;
}

.checkbox-wrap {
  margin-bottom: 24px;
}

.modal-label-checkbox {
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.checkbox-privacy {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.user-privacy:checked + .modal-label-checkbox > .checkbox-privacy {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.checkbox-link {
  color: #4d5ae5;
  line-height: 1.33;
  text-decoration-line: underline;
}

.form-btn {
  display: block;
  margin: 24px auto;
  padding: 16px 32px;

  min-width: 169px;
  color: #fff;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;

  border: none;
  border-radius: 4px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover,
.form-btn:focus {
  background-color: #404bbf;
}
